
* {
  font-family: sans-serif;
  user-select: none;
}
html, body {
  overflow: hidden;
  background-color: rgb(255, 107, 38);
}
body {
  position: relative;
}
a:link {
  color: black;
  text-decoration: underline;
}
a:visited {
  color: black;
  text-decoration: none;
}
body {
  background-color: rgb(255, 107, 38);
}
td {
  border: 1px solid gray;
}
#gameTitle {
  position:absolute;
  font-size: 6.5vw;
  left: 9vw;
  top: 3vw;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;
  font-family: 'Barlow';
  font-weight: bold;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
  z-index: 0;
}
#teamName {
  position:absolute;
  font-size: 3vw;
  left: 8.5vw;
  top: 3vw;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;
  font-family: 'Barlow';

  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
  z-index: 0;
}
#outer {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 90vh;
  margin:auto;
  margin-top: 2vw;
  padding-bottom: 10px;
}
#bodyContainer {
  flex-direction: row;
  display: flex;
  flex: 90%;
  height: 95%;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 800px){
  #bodyContainer {
    flex-direction: column;
    display: flex;
    flex: 90%;
    min-width: 0;
    min-height: 0;
  }
}
#leftPanel {
  flex:0.6;
  flex-direction: column;
  display: flex;
  margin-right: 0.5vw;
}
#slotDiv {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 100px;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color: rgb(237, 255, 224);
  z-index: 1;
}
#slotImgDiv {
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 15%;
}
#slotText {
  font-size: large;
  font-size: 1vw;
  text-align: center;
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Barlow';
}
#infoDiv {
  flex: 2;
  margin-bottom: 0.5vw;
  padding: 15px;
  padding-top: 0px;
  border-top-left-radius: 20px;
  background-color: white;
  z-index: 1;
}
#container {
  flex: 2;
  min-width: 0;
  min-height: 0;
  border-top-left-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
  z-index: 1;
}
#subPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 800px) {
  #subPanel {
    flex: 29%;
    display: flex;
    flex-direction: row;
    min-width: 0;
    min-height: 0;
  }
}
#upNextDiv, #scoreDiv, #infoDiv, #slotDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 0;
  min-height: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
}
#upNextDiv {
  flex: 2;
  margin-left: 0.5vw;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top-right-radius: 160px;
  background-color: rgba(255, 241, 241, 0.922);
  z-index: 1;
}
#upNextIcon {
  margin-top: 0px;
  padding: 0px;
}
#upNext {
  font-size: large;
  font-size: 3vw;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 100px;
  font-weight: bold;
  font-family: 'Barlow';
}

#scoreDiv {
  flex: 3;
  overflow-y: hidden;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border-bottom-left-radius: 100px;
  background-color: white;
  z-index: 1;
}
.instruction {
  font-size: 120%;
  font-family: 'Barlow';
  margin-top: 0px;
  margin-bottom: 35px;
}
#scoreBoard {
  font-size: 5vw;
  font-weight: bold;
  font-family: 'Barlow';
  margin: 0px;
}
#info {
  flex: 10%;
  text-align: center;
  font-size: small;
  min-width: 0;
  min-height: 0;
}
#debugContainer {
  display: none;
  margin:auto;
  text-align: center;
}
.title {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Barlow';
}
#titleWhite {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Barlow';
  color: white;
}
#highScoreTitle {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Barlow';
  color: rgb(255, 107, 38);
  margin-top: 50px;
}
#highScore {
  font-size: 2vw;
  font-family: 'Barlow';
  margin-bottom: 100px;
  margin-top: 0px;
  color: rgb(255, 107, 38);
}